---
import '../tailwind.css';
import Footer from "../components/Footer.astro";
const {title} = Astro.props.frontmatter || Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- TODO: Add OG Tags -->
		<title>{title} ||  SaaS Project Plan: A Free Notion Template for Project Management</title>
	</head>
	<body>
		<main class="page-wrapper">
			<h1 class="text-[72px] font-bold tracking-tight">{title}</h1>
			<div class="mb-32"><slot /></div>
			<Footer />
		</main>
  </body>
</html>